
<section class="module sidebar-module">
   <div class="row m-0">
        <div class="form-group" style="margin-bottom: -2%;">
               <div class="row">
                  <div class="col-sm-4 m-0">
                     <strong>Datasets</strong>
                  </div>
                  <div class="col-sm-8 m-0">
                     <select class="col-sm-6 form-control" id="getDatasets">
         <option value="default" selected="selected">Select</option>
      </select>
                  </div>
               </div>
            </div>
         </div>
    

   <br>
   <div class="panel panel-default" id="collections" style="display: none;">
      <div id="cblist" class="module-body">
      </div>
   </div>
   <br>
    <div class="pull-right">
            <span id="kml_spinner" rel="kml_spinner" class="tpsodl_common_spinner"></span>
            <button id="clearKml" class="btn btn-primary">Clear</button>
            <button id="submitKml" class="btn csp_main">Export</button>
         </div>
   </div>
</section>