<!-- <section class="module sidebar-module"> -->
	<!-- <button class="btn btn-sm" id="getNetworkSummary">Get Network Summary</button> -->
<!-- </section> -->
<!-- <br/> -->
<div>
<select id = "query_type" style="position: inherit;"/>
<div> </div>
<input id = "qeury_value">
<button id="getNwSummary" class="btn tpsodl_main">Get summary</button>
</div>
<section class="module sidebar-module">
	<div  id='network_summary_main'> </div>
</section>
<br/>

<section class="module sidebar-module">
	<div  id='network_summary_downstream'> </div>
</section>
<br/>

<section class="module sidebar-module">
	<div  id='network_summary_upstream'> </div>
</section>