<section class="module sidebar-module">
<div id = "bk_create" style="display: none;">  
	<div class="control-group" style="margin-left:0px;margin-bottom:5px;line-height:40px;">
      Please Enter BookMark Name:  <input class="form-control" type="text" id='bk_name'></input>
		<div class="pull-right">
			<button id="bk_save" class="btn btn-primary">Save</button>
			<button id="getBookMarks" class="btn csp_main">Get Bookmarks</button>
		</div>
	</div>
</div>

<div id="list_bookmarks">
   
</div>
<span id="bookmarks_spinner" rel="bookmarks_spinner" style="display: inline-block;margin-left: 170px;margin-bottom:4px"></span>


</section>
