<header class="module-header">
  <h3 class="voice voice-brand">{{messages.object_details.eoLocationInfo.objectInfoTitle}}</h3>
</header>
<div class="module-body">
  <div class='item'>
    {{#features}}
    <table class='table wfs-table'>
      <tbody>
        {{#areas}}
        <tr>
          <td>
            <strong>{{name}}</strong>
          </td>
          <td>
            {{#joins}}
              <div class="join" id="{{urn}}">{{name}}:({{description}})</div>
            {{/joins}}
          </td>
        </tr>
        {{/areas}}
      </tbody>
    </table>
    {{/features}} {{^features}} {{infoMessages}} {{/features}}
  </div>
</div>
<footer class="module-footer"></footer>
