<div class="popover top fade in" data-popover-id="{{popoverId}}">
  <div class="arrow"></div>
  <header class="panel-header {{colour}}">
    <div class="left">
      <i class={{iconPopover}}></i>
    </div>
    <div class="popover-title panel-title voice voice-brand">
      <h3>{{title}}</h3>
    </div>
  </header>
  <div class="popover-content panel-content">
    <p>{{property1}}<br />
      <span id="{{otdrPopoverId}}">{{property2}}</span><br />
    </p>
    <footer class="panel-footer">
    </footer>
  </div>
</div>
