<button class="btn btn-map" data-event="setTraceStartingPoint" id="popoverButtonSendToTrace" rel="tooltip" title="{{messages.popoverControls.sendToTraceButton}}" style="display: none;">
  <img src="lib/common/partials/icons/icon-trace.svg" width="16" height="16"/>
</button>
<button class="btn btn-map" data-event="setFindArea" id="popoverButtonSetFindArea" rel="tooltip" title="{{messages.popoverControls.setFindArea}}" style="display: none;">
  <i class="control-icon icon-ico_search_lg" style="width:16px !important;" height="16"></i>
</button>
<button class="btn btn-map" data-event="showObjectDetails" id="popoverButtonObjectDetails" rel="tooltip" title="{{messages.popoverControls.showDetailsButton}}" style="display: none;">
  <img src="lib/common/partials/icons/smallworld_cube_sm.svg" width="16" height="16"/>
</button>
